.DS_Store
.aider*
dotfiles/.config/gcloud
dotfiles/.config/configstore/update-notifier-@docusaurus
dotfiles/.config/github-copilot
dotfiles/.config/firebase
dotfiles/.config/configstore
dotfiles/.config/htop/htoprc
dotfiles/.config/prisma-cli
dotfiles/.config/nordvpn
